[submodule "cli"]
	path = Modules/cli
	url = https://github.com/daniele77/cli.git
	branch = master
[submodule "sdl2"]
	path = Modules/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = main
[submodule "Poco"]
	path = Modules/Poco
	url = https://github.com/pocoproject/poco.git
	branch = devel
